@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family: Android;
  src: url('fonts/idroid.otf') format('opentype');
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --cor0: #c5ebd6;
  --cor1: #83e1ad;
  --cor2: #3ddc84;
  --cor3: #2fa866;
  --cor4: #1a5c37;
  --cor5: #063d1e;

  --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
  --fonte-destaque: 'Bebas Neue', cursive;
  --fonte-android: 'Android', cursive;
}


body {
  background-color: var(--cor0);
  font-family: var(--fonte-padrão);
}

header {
  background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
  min-height: 150px;
  text-align: center;
}

header h1 {
  padding-block: 15px;
  color: white;
  font-family: var(--fonte-destaque);
  font-size: 3em;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.452);
}

header p {
  color: white;
  font-family: var(--fonte-padrão);
  font-size: 1.2em;
  max-width: 600px;
  margin: auto;
  padding-inline: 10px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.452);

}

nav {
  background-color: var(--cor5);
  padding: 10px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.274);
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  transition-duration: 300ms;
}

nav a:hover {
  background-color: var(--cor1);
  color: var(--cor5);
}

main {
  padding: 15px;
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
}

main h1,
main h2 {
  font-family: var(--fonte-android);
}

main h1 {
  color: var(--cor4);
  font-size: 2em;
}

main h2 {
  background-image: linear-gradient(to right, var(--cor0), white);
  color: var(--cor3);
}

main p {
  margin: 10px 0px 10px 0px;
  text-indent: 20px;
  font-size: 1.2em;
  text-align: justify;
  line-height: 1.5em;
}

main a {
  text-decoration: none;
  font-weight: bold;
  color: var(--cor5);
  background-color: var(--cor1);
  padding: 2px 3px;
}

main a:hover {
  text-decoration: underline;
}

main img {
  width: 100%;
}

main .bugdroid {
  margin: auto;
  max-width: 350px;
}

.video {
  background-color: var(--cor4);
  margin: 0px -15px 25px -15px;
  padding: 20px;

  position: relative;
  padding-bottom: 55.8%;
}

.video iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

aside {
  background-color: var(--cor1);
  border-radius: 10px;
}

ul {
  list-style: none;
}

aside h3 {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: var(--cor3);
  padding: 13px;
  color: white;
}

aside p {
  padding: 10px;
  font-size: 1.1em;
}

aside ul {
  columns: 2;
  list-style-position: inside;
}

ul li::before{
  content: "✔";
  padding-right: 5px;
  padding-left: 10px;
  font-weight: 800;
}

footer {
  background-color: var(--cor5);
  color: white;
  padding-block: 10px;
}

footer p {
  color: var(--cor2);
  text-align: center;
  font-weight: 700;
}

footer a {
  color: white;
  text-decoration: none;
}